@media all and (max-width:768px) {
  .search {
    display: none;
  }

  .logo {
    display: none;
  }
}

.body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
#burger {
    width: 700px;
    height:500px;
} 
.div-burger {
    width: 700px;
    margin: auto;
}
#title { color: yellow;
    font-size: 40px;
}
h1 {
    color: yellowgreen;
}

.ol-burger, .ul-burger {
    text-align: left;
    display: inline-block;
    font-size: 120%;
}
  
p {
    font-size: 120%;
  }
.burger:hover {
    color: red;
}
.burger {
  text-align: center;
  color: white
}



/* NAV BAR */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  margin-left: 0;
  box-sizing: border-box;
}

nav {
    display: flex;
    background: #0a5071;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 15px 5px;
    top: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.logo {
  cursor: pointer;
  
  margin-left: 5%;
  margin-right: 0;

 
}

.cta {
  order: 2;
}
.nav-link {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
}
.nav-link li {
  display: inline-block;
  text-align: center;
  padding: 0;
}
.nav-link li:nth-child(1) {
  padding: 0px 20px 0 0;
}
.nav-link li a {
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
  
}
.nav-link li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 11px;
  background-color: #00043b;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 2px solid white;
  color: white;
  
}

button:hover {
  background-color:  rgba(169, 163, 0, 0.5);;
}

.search {
  width: 10%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 8%;
}
