@media all and (max-width:768px) {
  .search {
    display: none;
  }

  .logo {
    display: none;
  }
}

.body1 {
    background: url(./recipes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
}
h1 {
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 7%;
}
.div-recipes {
    width: 500px;
    height: auto;
    background: rgba(255, 255, 255, 0.099);
    text-align: center;
    margin: auto;
}
#top {
    padding-top: 10%;
}
#down {
    padding-bottom: 10%;
}
.headding:hover {
    padding-top: 0;
    color: red;
  
}
.headding {
    color: yellow;
  
}
footer {
    text-align: center;
    color:rgb(0, 0, 0);
}
span {
    color: rgb(4, 4, 4);
}




/* NAV BAR */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
  margin-left: 0;
  box-sizing: border-box;
}

nav {
    display: flex;
    background: #0a5071;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 15px 5px;
    top: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
  cursor: pointer;
  
  margin-left: 5%;
  margin-right: 0;

 
}

.cta {
  order: 2;
}
.nav-link {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  margin: 0;
  padding: 10px;
}
.nav-link li {
  display: inline-block;
  text-align: center;
  padding: 0;
}
.nav-link li:nth-child(1) {
  padding: 0px 20px 0 0;
}
.nav-link li a {
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
  
}
.nav-link li a:hover {
  color: #0088a9;
}
button {
  padding: 9px 11px;
  background-color: #00043b;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 2px solid white;
  color: white;
  
}

button:hover {
  background-color:  rgba(169, 163, 0, 0.5);;
}

.search {
  width: 10%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 8%;
}


